/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NanumSquareNeoExtraBold';
}
body {
  background: #fff;
  display: flex;
  flex-direction: column;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  padding-left: 30px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 50;
}

.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #000;
  text-decoration: none;
}
.nav .logo {
  font-size: 20px;
  font-weight: 500;
  padding-top: 5px;
}
.logo img {
  width: 90px;  /*Set the desired width*/
  height: auto; /* Let the height adjust automatically to maintain aspect ratio */
}
.nav .nav-links {
  column-gap: 7vw;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.3s linear;
  font-size: 18px;
}

.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* 서브 메뉴 */
.sub-menu {
  padding-top: 20px;
  line-height: 270%;
  font-size: 14px;
  position: absolute;
  top: 100%; /* Position the sub-menu below the grandparent element */
  left: inherit;
  /* left: calc(inherit + 5% ); */
  width: 6%;
  height: fit-content;
  text-align: center;
  padding: 10px;
  margin-left: -1vw;

  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: rgba(193, 41, 41, 0.832);

  opacity: 0;
  transition: opacity 0.4s ease-in;

  visibility: hidden;
  z-index: -1;
  background-color: #fff;
}

.sub-menu li {
  list-style: none;
  color: black;
  cursor: pointer;
  overflow: visible; 
  white-space: nowrap;
}

.sub-menu a[href] {
  font-size: 100%;
}

.sub-menu li:hover {
  /* text-decoration:underline;
  text-decoration-color: rgba(193, 41, 41, 0.832); */
  font-size: 110%;
}

.show {
  opacity: 1;
  visibility: visible;
}


/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav .nav-links a{
    color: #fff;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #000;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #000;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}